#root {
  max-width: 1280px;
  margin: 30px auto;
  padding: 2rem;
  text-align: left;
  border: 2px solid blueviolet;
}

.student{
  background-color: rgb(244, 243, 243);
  border: 4px solid blueviolet;
  margin: 10px;
  color: black;
}

.actor{
  border: 1px solid lightpink;
  padding: 20px;
  margin: 30px;
}


